@media(max-width: 1440px) {
    .bottom-box {
        margin-top: 60px;
        margin-bottom: 60px;
        width: 290px;
        height: 280px;
    }

    .bottom-txt {
        width: 580px;
        font-size: 12px;
        margin-bottom: 50px;
    }

    .cotalog__title {
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .cotalog__box {
        margin-left: 15px;
        margin-right: 15px;
    }

    .watch {
        width: 170px;
    }

    .cotalog__img-box {
        width: 240px;
        height: 290px;
    }

    .brend-image {
        margin-bottom: 50px;
        width: 240px;
    }

    .main__title {
        margin-top: 50px;
    }

    .footer__title {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .footer__bottom-buttom {
        margin-bottom: 80px;
    }
}

@media (max-width: 1024px) {
    .header__bottom {
        min-height: 8vh;
    }

    .watch {
        width: 100px;
    }

    .cotalog__img-box {
        width: 150px;
        height: 222px;
    }

    .collection-image {
        width: 540px;
    }

    .collaction__title {
        margin-top: 20px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .collaction-text {
        width: 350px;
        font-size: 12px;
    }

    .collaction-button {
        margin-top: 20px;
    }

    .main__title {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .main-border {
        margin-bottom: 30px;
    }

    .watch-money {
        font-size: 14px;
    }

    .main__bottom-box {
        margin-bottom: 50px;
    }

    .brend-image {
        width: 200px;
        margin-bottom: 40px;
    }

    .footer__title {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer__bottom-buttom {
        margin-bottom: 40px;
    }

    .footer__txt {
        width: 300px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .footer__button {
        padding: 4px 10px;
        margin-bottom: 10px;
    }
}

@media  (max-width: 768px) {
    .burger-button {
        display: block;
    }
    .header__center-box{
    align-items: center;
}
    .center-right {
        position: relative;
    }

    .center__list {
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        right: -300px;
        transition: 0.5s;
        backdrop-filter: blur(10px);
    }
    .center__list.active {
        right: -14px;
    }
    /* ///////////////////////////// */
    .collection-image{
        width: 450px;
    }
    .collaction-text{
        width: 500px;
        font-size: 15px;
    }
    .collaction-button{
        margin-bottom: 20px;
    }
    /* //////////////////////////////// */
    .cotalog{
        flex-direction: column;
    }
    .collection{
        flex-direction: column-reverse;
    }
    /* /////////////////////////////////// */
    .cotalog__max-box{
        margin-bottom: 50px;
    }
    .cotalog__box {
        margin-left: 24px;
        margin-right: 24px;
    }
    .watch-name{
        margin-bottom: 5px;
    }
    .collection-image{
        width: 100%;
    }
    .brend-image{
        width: 150px;
    }
    .main__title{
        font-size: 25px;
    }
    .footer__title{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .footer__txt{
        width: 280px;
        font-size: 8px;line-height: 15px;
    }
    .footer__input{
        padding: 5px 60px;
        margin-bottom: 5px;
    }
    .footer__bottom-box{
        flex-direction: column;
    }
    .footer__bottom-buttom{
        margin-bottom: 10px;
    }
    .footer__txt{
        margin-bottom: 5px;
    }
}
@media (max-width: 425px) {
    .top-link{
        font-size: 6px;
    }
    .footer-big-box{
        flex-direction: column;
    }
    .bottom-txt{
        width: 100%;
        font-size: 10px;
    }
    .bottom-box{
        width: 240px;
        height: 200px;
    }
    .bottom-logo{
        padding-top: 50px;
        font-size: 40px;
    }
    .cotalog__box:nth-last-child(1){
        display: none;
    }
    .cotalog__left::before{
        top: 89px;
    }
    .box-bottom:nth-last-child(1){
        display: none;
    }
    .box-bottom:nth-child(1){
        display: none;
    }
    .brend-image:nth-last-child(1){
        display: none;
    }
    .brend-image:nth-child(1){
        display: none;
    }
    .collaction-text{
        width: 350px;
        font-size: 12px;
    }
    .cotalog-img-title{
        font-size: 25px;
    }
    .collaction__title{
        font-size: 25px;
    }
    .main__title{
        font-size: 25px;
    }
    .footer{
        background: url(../Img/Footer.png)50%;
    }
    .footer__input {
        padding: 5px 64px 5px 156px
    }
    .footer__txt{
        width: 400px;
        font-size: 10px;
    }
    .top{
        font-size: 8px;
    }
}
@media (max-width: 375px){
    .footer__txt{
        width: 350px;
    }
    .footer__input {
        padding: 5px 40px 5px 131px;
    }
    .cotalog__box{
        margin-right: 15px;
        margin-left: 15px;
    }
}
@media (max-width: 360px) {
    .footer__input {
        padding: 5px 31px 5px 125px;
    }
    .footer__txt{
        width: 280px;
    }
}
@media (max-width: 320px){
    .footer__txt{
        width: 300px;
    }
    .footer__input {
        padding: 5px 8px 5px 108px;
    }
    .collaction-text{
        width: 250px;
    }
    .cotalog__img-box {
        width: 140px;
        height: 215px;
    }
    .watch-name{
        font-size: 18px;
    }
    .cotalog__box {
        margin-right: 10px;
        margin-left: 10px;
    }
    .cotalog__max-box {
        margin-bottom: 30px;
    }
    .cotalog-img-border{
        margin-bottom: 15px;
    }
    .cotalog-img-border{
        margin-bottom: 15px;
    }
    .top{
        font-size: 6px;
    }
    .bottom{
        font-size: 8px;
    }
}